<div class="word"><h2><%= @word.name %></h2></div>

<div class="def_input">
	<form>
		<textarea id="player_def">
		<button id="player_def_submit">Definition Submit</button>
	</form>
</div>

<% if @game.round.definitions.count == @game.players.count + 1 %>
<h2>Select the correct definition below</h2>
<hr>
<% @game.players.each do |player| %>
	<div><%= player.definition.content %></div>
<% end %>
<% else %>

<% end %>