<div>
	<table>
		<thead>
			<tr>
				<td>Player Name</td>
				<td>Score</td>
			</tr>
		</thead>
		<tbody>
			<% @game.players.each do |player| %>
				<tr><td><%= player.user.name %></td><td><%= player.score %></td></tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="word"><h2><%= @word.name %></h2></div>

<div class="def_input">
	<form>
		<textarea id="player_def">
		<button id="player_def_submit">Definition Submit</button>
	</form>
</div>

<% if @game.round.definitions.count == @game.players.count + 1 %>
<h2>Select the correct definition below</h2>
<hr>
<% @game.players.each do |player| %>
	<div><%= player.definition.content %></div>
<% end %>
<% else %>

<% end %>