body {
	background-color: #f8fbfd
}

.devise {
	font-family: 'ubuntu', sans-serif;
	font-weight:300;
	font-size:14px;
}

.body.container {
	font-family: 'vollkorn', serif;
	font-size: 16px;
	text-align:center;
	position:relative;
}

<<<<<<< HEAD
.description {
	margin:15px;
}
=======

>>>>>>> 08fca443c76ef26cdb50fc4af1e25b8eea0b9375

body {
	font-family: 'ubuntu', sans-serif;
	font-weight:300;
}

#logo {
	font-family: 'vollkorn', serif;
	font-weight:700;
	font-size:20px;
}


h1, h2,  h3, h4 {
	font-family: 'vollkorn', serif;
	font-weight: 700;
}

table#players{
	width:100%;
	border: 1px solid rgb(153, 153, 153);
}

div#player-table {
	width: 100%;
}

.navbar {
	padding-top:15px;
	background-color:#91BED4;
	color:black;
	border-radius: 0px;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.4);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

.navbar a {
	color:black;
}

.special-hide {
	display:none !important;
}

.btn-primary {
	background-color:#F26101;
	border-color: #F26101;
}

.btn-primary:hover {
	background-color:#d95701;
	border-color:#d95701;
}

#round-count {
	font-family: 'ubuntu', sans-serif;
	font-weight:300;
	font-size:15px;
	background-color:#304269;
	border-radius: 5px;
	display: inline;
	color:white;
	padding:5px;
}

.sidenote {
	font-family: 'ubuntu', sans-serif;
	font-weight:300;
	color:#cecece;
}

#inputdef {
	width:80%;
	height:50px;
	font-family: 'ubuntu', sans-serif;
	font-weight:300;
	text-align:center;
}

.btn {
	margin:15px;
}

#signup {
	border-left: none;
}

.ribbon {
 font-size: 1.6em !important;
 width: 80%;
 position: relative;
 background: #91bed4;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 1em auto 1em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #7fb3cd;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #6ca8c6 transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

.fa {
    color: #F26101;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */


@media (min-width: 768px) { 
	#signup {
		border-left: 1px solid #cccccc;
	}

	.special-hide {
		display:inline-block !important;
	}
	.ribbon {
		width:50%;
	}

	div#player-table{
		position:absolute;
		top:0px;
		right:0px;
		width: 200px !important;
	}

	table#players {
		background-color:white;
	}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


 }