.btn-lg {
	font-size:35px;
}

body {
	background-color: #f8fbfd
}

.devise {
	font-family: 'ubuntu', sans-serif;
	font-weight:300;
	font-size:14px;
}

.devise input {
	width:80%;
}

#user_remember_me {
	width:auto;
}

.body.container {
	font-family: 'vollkorn', serif;
	font-size: 16px;
	text-align:center;
	position:relative;
}

.description {
	margin:15px;
}

body {
	font-family: 'ubuntu', sans-serif;
	font-weight:300;
}

#logo {
	font-family: 'vollkorn', serif;
	font-weight:700;
	font-size:20px;
}


h1, h2,  h3, h4 {
	font-family: 'vollkorn', serif;
	font-weight: 700;
}

table#players{
	width:100%;
	border: 1px solid rgb(153, 153, 153);
}

div#player-table {
	width: 100%;
}

.bullshit {
	width:40%;
}

.super {
	font-weight:300;
	font-size: 35px;
}

.navbar {
	padding-top:15px;
	background-color:#91BED4;
	color:black;
	border-radius: 0px;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.4);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}


.home {
	position:relative;
	z-index:-100;
	margin: 0 auto;
	width:20%;
}

.navbar a {

	color:black;

}

a:hover {
text-decoration: none;

	color:black;

}

.special-hide {
	display:none !important;
}

.btn-primary {
	background-color:#F26101;
	border-color: #F26101;
}

.btn-primary:hover {
	background-color:#d95701;
	border-color:#d95701;
}

#round-count {
	font-family: 'ubuntu', sans-serif;
	font-weight:300;
	font-size:15px;
	background-color:#304269;
	border-radius: 5px;
	display: inline;
	color:white;
	padding:5px;
}

.sidenote {
	font-family: 'ubuntu', sans-serif;
	font-weight:300;
	color:#cecece;
}

#inputdef {
	width:80%;
	height:50px;
	font-family: 'ubuntu', sans-serif;
	font-weight:300;
	text-align:center;
}

.btn {
	margin:15px;
}

#signup {
	border-left: none;
}

.ribbon {
 font-size: 1.6em !important;
 width: 80%;
 position: relative;
 background: #91bed4;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 1em auto 1.5em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #7fb3cd;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #6ca8c6 transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}


/* rules slideout */
#slideout {
  position: fixed;
  top: 100px;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout_inner {
	padding: 10px 25px;
	background-color: #D9E8F5;
	width: 350px;
  position: fixed;
  top: 100px;
  left: -350px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout:hover {
  left:350px;
}
#slideout:hover #slideout_inner {
  left: 0;
}
h4#tab{
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em ;
	position:relative;
	background-color:#F26101;
	display: block;
	width: 127px;
	height: 38px;
	margin-top: 45px;
	right: 50px;
	padding: 14px 5px;
	color: white;
	font-family: 'ubuntu';
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;


	-webkit-transform: rotate(-90deg);
	  -moz-transform: rotate(-90deg);
	  -ms-transform: rotate(-90deg);
	  -o-transform: rotate(-90deg);
	  transform: rotate(-90deg);

	  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	  -webkit-transform-origin: 50% 50%;
	  -moz-transform-origin: 50% 50%;
	  -ms-transform-origin: 50% 50%;
	  -o-transform-origin: 50% 50%;
	  transform-origin: 50% 50%;

	  /* Should be unset in IE9+ I think. */
	  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.fa {
    color: #F26101;

}

.grey {
	background-color: #404040;
	border-color: #404040;
	margin: 2px;
	width:80%;
}

.grey:hover {
	background-color: #304269;
	border-color: #304269;
}

/* Set-up */
body {
-webkit-perspective: 1000px; /* <-NB */
}

/* Container box to set the sides relative to */
.cube {
  /* color: white; */
width: 60%;
text-align: center;
margin: 5px auto;
height: 50px;
-webkit-transition: -webkit-transform .33s;
transition: transform .33s; /* Animate the transform properties */

-webkit-transform-style: preserve-3d;
transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.flippety,.flop {
background-color: #D9E8F5;
/*background: rgb(247, 247, 247); */
border: 1px solid rgba(147, 184, 189, .8);

-webkit-border-radius: 5px;
border-radius: 5px;
height: 50px;
}

/* Position the faces */
.flippety {
	-webkit-transform: translateZ(23px);
	transform: translateZ(23px);
	margin-left:6px;
	width:94%;
}

.flop {
  line-height: 20px;
  font-size: 100%;
  -webkit-transform: rotateX(-90deg) translateZ(-32px);
  transform: rotateX(-90deg) translateZ(1px);
  padding:15px;
}

.flop:hover {
	background:#91bed4;
}
/* Rotate the cube */
.cube.active {
-webkit-transform: rotateX(89deg);
transform: rotateX(89deg); /* Text bleed at 90ยบ */
}

#pick-list {
	margin: 50px 0px;
}

.btn-link {
	font-family: 'vollkorn', serif;
	color: black;
	width: 100%;
	border-radius: 0px;
}

.btn-link:focus {
	border: none;
}

.btn-link:hover {
	text-decoration:none;
	color:black;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
	.flippety {
		width: 96%;
	}

	#signup {
		border-left: 1px solid #cccccc;
	}

	.special-hide {
		display:inline-block !important;
	}
	.ribbon {
		width:50%;
	}

	div#player-table{
		position:absolute;
		top:0px;
		right:0px;
		width: 200px !important;
	}
	.super {
		font-weight:700;
		font-size: 50px;
	}	

	table#players {
		background-color:white;
	}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.flippety {
		width: 97%;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.flippety {
		width: 98%;
	}

 }